.example-spacer {
	flex: 1 1 auto;
}

.back-icon,
.close-icon {
	font-size: 1.6em;
	margin-top: -7px;
}

.back-icon {
	margin-right: 30px;
	cursor: pointer;

	&:hover {
		color: #e91e63;
	}
}

.close-icon {
	cursor: pointer;
	margin-right: 10px;

	&:hover {
		color: #e91e63;
	}
}
