<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
			integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<title>Tablet</title>
	</head>
	<body>
		<div class="tablet">
			<div class="container" [ngSwitch]="view">
				<app-header
					[view]="header"
					(viewBack)="backFromApp($event)"
				></app-header>
				<div class="application-list">
					<div>
						<div
							class="view navigation"
							*ngSwitchCase="'navigation'"
						>
							<div
								class="application"
								*ngFor="let application of applications"
							>
								<div
									(click)="
										switchView(
											application.link,
											application.name
										)
									"
								>
									<i
										[class]="application.icon"
										class="icon"
									></i>
									<br />
									<span class="app-name"
										>{{ application.name }}
									</span>
								</div>
							</div>
						</div>
						<div class="view" *ngSwitchCase="'darkweb'">
							<app-darkweb></app-darkweb>
						</div>
						<div class="view" *ngSwitchCase="'racing'">
							<app-racing></app-racing>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
