.hide {
	display: none;
}

.show {
	display: "block";
}

.tablet {
	position: relative;
	background: url("./../assets/img/tablet-frame.png") no-repeat;
	margin: auto;
	height: 977px;
	width: 1450px;

	.container {
		position: absolute;
		background: lightgrey;
		top: 88px;
		left: 83px;
		right: 83px;
		bottom: 88px;

		.tablet-container {
			width: 100%;

			.view {
				display: flex;
				flex-direction: row;

				&.navigation {
					padding: 50px;
				}
			}

			.application {
				margin-right: 70px;
				text-align: center;

				& i:hover {
					cursor: pointer;
					color: #e91e63;
				}

				.icon {
					font-size: 4em;
				}

				.app-name {
					display: block;
					font-size: bold;
					margin-top: 0.5em;
				}
			}
		}
	}
}
