<h1>Racing</h1>

<h2>Races available</h2>

<table mat-table [dataSource]="racesAvailable" class="mat-elevation-z8">
	<!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

	<!-- Position Column -->
	<ng-container matColumnDef="No.">
		<th mat-header-cell *matHeaderCellDef>No.</th>
		<td mat-cell *matCellDef="let race">{{ race.no }}</td>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="Name">
		<th mat-header-cell *matHeaderCellDef>Name</th>
		<td mat-cell *matCellDef="let race">{{ race.name }}</td>
	</ng-container>

	<!-- Weight Column -->
	<ng-container matColumnDef="Participants">
		<th mat-header-cell *matHeaderCellDef>Participants</th>
		<td mat-cell *matCellDef="let race">{{ race.participants }}</td>
	</ng-container>

	<!-- Symbol Column -->
	<ng-container matColumnDef="Track">
		<th mat-header-cell *matHeaderCellDef>Track</th>
		<td mat-cell *matCellDef="let race">{{ race.track }}</td>
	</ng-container>

	<ng-container matColumnDef="Best time">
		<th mat-header-cell *matHeaderCellDef>Best time</th>
		<td mat-cell *matCellDef="let race">{{ race.bestTime }}</td>
	</ng-container>

	<ng-container matColumnDef="Join">
		<th mat-header-cell *matHeaderCellDef>Status</th>
		<td mat-cell *matCellDef="let race">
			<a (click)="joinRace(race.id)" href="#">{{ race.status }}</a>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
	<tr mat-row *matRowDef="let row; columns: columnHeaders"></tr>
</table>
