:host {
	width: 100%;
	height: 637px;
	padding: 50px;
	background: url(./../../../assets/img/racing-bg.jpg) no-repeat;
	background-size: cover;
	color: rgba(255, 255, 255, 0.87);
}
table {
	width: 100%;

	a {
		color: white;
	}
}
